## Part 1

In [1]:
# Locate Spark installation
import findspark
findspark.init('/home/kalyan/spark-2.1.0-bin-hadoop2.7')
import pyspark

In [3]:
# Start SparkSession
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
df = spark.read.json('people.json')

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
# Notice it is an atttibute, not a function. No parenthesis required.
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [12]:
# Get a statistical summary of the dataframe
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

### Defining Your Own Schema

In [13]:
# Import type tools
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [14]:
# IntegerType() is a class instance
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [15]:
final_struc = StructType(fields=data_schema)

In [16]:
df = spark.read.json('people.json', schema=final_struc)

In [18]:
# Notice, previously age was of type long
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Part 2

In [19]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [20]:
type(df['age'])
# Returns a column object

pyspark.sql.column.Column

In [23]:
# Select method
df.select('age')
# Returns a data frame

DataFrame[age: int]

In [22]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

### head()

In [32]:
df.head()

Row(age=None, name='Michael')

In [33]:
# Show two rows in the head
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [34]:
# Type?
type(df.head())

pyspark.sql.types.Row

In [35]:
type(df.head(2))

list

In [36]:
type(df.head(2)[0])

pyspark.sql.types.Row

### Selecting multiple columns

In [37]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

### Adding new columns

In [40]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

### Changes are not permanent

In [41]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [44]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [45]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

### Using SQL

In [46]:
df.createOrReplaceTempView('people')

In [47]:
results = spark.sql('select * from people')

In [48]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [51]:
new_results = spark.sql('select * from people where age >= 30')

In [52]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+